<article>
    <header>
        <img class="avatar" src="{{ toot.account.avatar_static }}" />
        {{ toot.account.display_name }} ({{ toot.account.acct }}) reblogged
    </header>
    <article>
        <header>
            <img class="avatar" src="{{ toot.reblog.account.avatar_static }}" />
            {{toot.reblog.account.display_name }} ({{ toot.reblog.account.acct }})
        </header>
        {% include "_postcontent.html" %}
    </article>
    <footer>
        {% include "_postbuttons.html" %}
    </footer>
</article>