<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/timeline" role="button">Back</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <header>Plugins</header>
                <details>
                    <summary>Plugin 1</summary>
                    <article>
                        <b>Status</b>
                        <p>Disabled</p>
                        <b>Description</b>
                        <p>This is a plugin</p>
                        <b>Config</b>
                        <table>
                            <tr>
                                <td>Key 1</td>
                                <td>Value 1</td>
                            </tr>
                        </table>
                        <button>Disable</button>
                    </article>
                </details>
            </article>
        </main>
    </div>
</body>

</html>